<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <title>Detail</title>
</head>
<body>
<p style="text-align:right">
    <a href="/user/logout/">登出</a>
    <a href="/user/mine/">我的</a>
    <a href="/">返回主页</a>
    <img src="{{ user.image.url }}" alt="无法显示" height="48" width="48"/>
</p>
<p>
    <img src="{{ goods.image.url }}" alt="无法显示" height="120" width="74.2">
    <br/>
    卖家:<span style="color: #3399ff">{{ seller }}</span>
    <br/>
    商品名:
    <span style="color: #3399ff">{{ goods.title }}</span>
    标签:
    <span style="color: #3399ff">{{ goods.label }}</span>
    <br/>
    单价:<span style="color: #3399ff">{{ goods.price }}</span>元
    库存:<span style="color: #3399ff">{{ goods.amount }}</span>
</p>
<p>商品描述:</p>
<table border="1">
    <tr>
        <td>
            {% autoescape off %}
                {{ goods.detail }}
            {% endautoescape %}
        </td>
    </tr>
</table>
<br/>
{% if goods.status == 'on' %}
    {% if user.role == 'buyer' %}
        {% if in_wish %}
            <p style="color: #ffb53a">已收藏</p>
        {% else %}
            <button>
                <a href="/trade/wish/{{ goods.id }}/">收藏</a>
            </button>
        {% endif %}
        {% if bought %}
            <form name="LeaveComment" action="/comment/leave_comment/{{ goods.id }}/" method="post">
                {% csrf_token %}
                评论标题:{{ form.title }}
                <br/>
                <p>
                    评论内容:
                </p>
                {{ form.content }}
                <button type="submit">确定</button>
            </form>
        {% else %}
            <p style="color: #ffb53a">购买后可评论</p>
        {% endif %}
    {% endif %}
{% elif goods.status == 'off' %}
    <p style="color: indianred">该商品已下架</p>
{% endif %}
{% if comments %}
    <table align="center" class="table table-striped table-bordered table-hover">
        {% for comment in comments %}
            <thead>
            <tr>
                <td>评论者</td>
                <td>标题</td>
                <td>时间</td>
                {% if user.role == 'seller' and user.id == goods.seller.id %}
                    <td></td>
                {% endif %}
            </tr>
            </thead>
            <tr>
                <td width="75">
                    <img src="{{ comment.user.image.url }}" alt="无法显示" width="30" height="30">
                    {{ comment.user.username }}
                </td>
                <td>{{ comment.title }}</td>
                <td width="150">{{ comment.date|date:'Y-m-d H:i' }}</td>
                {% if user.role == 'seller' and user.id == goods.seller.id %}
                    <td width="45"><a href="/comment/comment_detail/{{ comment.id }}/">查看</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endif %}
</body>
</html>